<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'showcase/css/main.css' %}">
    <title>Get to Heaven </title>

</head>
<body style="background-image: url('{% static 'showcase/img/angels_demons.jpg' %}') ">
<header class="container text-center "> <h1>Welcome to get to Heaven</h1> <a href="{% url 'updatelog' %}"><h2 style="color: wheat">UpdateLog</h2></a></header>
<div id="body" class="container text-center">
    <h4 id="gameOver" style="color: #CD5C5C"> Answer questions to get to heaven</h4>
    <br/>
    <!-- game variables --><img src="{% static 'showcase/img/img2.png' %}" >
    <img id="ScoreImage" >

    <h3 class="text-warning"> Score : <aside id="score"  class="text-danger "  ></aside> </h3>

     <img src="{% static 'showcase/img/img3.png' %}" >
    <h3 class="text-warning"> Life : <aside  id="life"  class="text-danger "  ></aside> </h3>

    <br/>
    <!-- questions -->
    <h3 id="questions" style="color: #D68910"></h3>
    <br/>
    <br/>
    <!-- response -->
    <h6 id="response" style="color: #19ff30"></h6>
    <br/>
    <button  onclick="nextQuestion();"  class="btn btn-outline-secondary "  style="background-color: #a9df81" type="button" >Next</button>
    <div  class="container text-center" style="display: inline-block">
      <br/>
      <br/>
      <br/>
      <!-- user input -->
        <div class="input-group mb-3">
            <input id='answers' type="text" class="form-control" placeholder="Your answer" aria-label="Your answer" aria-describedby="answers">
            <div class="input-group-append">
                <button onclick="reply();" class="btn  btn-outline-secondary " style="background-color: #a9df81" type="button" >Answer</button>
            </div>
        </div>


    </div>



</div>

<footer >

    <img class="center" src="{% static 'showcase/img/logowhite.png' %}" alt="" height="100" width="200" >

      <p style="text-align: center; color: wheat">
          CopyRight Ispire Enterprises 2018
      </p>

</footer>




<script src="{% static 'showcase/js/jquery.js' %}"></script>
<script src="{% static 'showcase/js/logic.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
