<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateLog</title>
</head>
<body style="background: #463e34">
    <div style="max-width: 1000px; margin: auto">
        <h1 style="color: wheat"> Game Update Log </h1>
        <h2 style="color: wheat"> <cite>Date: 2018/3/9 </cite></h2>
        <h3 style="color: wheat"> Update userInput.</h3>
        <p  style="color: wheat"> user input is no longer case sensitive. <em>Added</em> Update log</p>
        <a href="{% url 'get_to_heaven' %}"><h2>Home</h2></a>
    </div>
</body>
</html>
