{% extends 'blog/base.html' %}

{% block content %}

   <!-- body -->
    <main role="main">
      <div class="container">
     <h1 style="color: cadetblue" class="text-center pt-3 h1 ">Welcome! to MyBlog</h1>
        <br/>
        <br/>
      <h2 style="color: goldenrod" class="h2 "> Recent Posts </h2>
          <hr/>
          {% for blog in listblogs.all %}
              <a href="{% url 'posts' blog.id %}"> <h4 style="color: cadetblue">{{ blog.title }} </h4> </a>
              <h6 class="h6 font-weight-light">{{ blog.date_only }}</h6>
              <hr/>
              <br>
              <div  class="card" style="width: 18rem">
              <img  class="card-img-top pt-2" src="{{ blog.image.url }}" alt="image">
              <hr/>
              <div class="card-body" >
              <p class="font-italic card-text">{{ blog.summary }}</p>
              </div>
              </div>
              <hr/>
          {% endfor %}

      </div>
    </main>

{% endblock %}