{% extends 'trinionlinemall/base.html' %}


{% block header %} Create Product {% endblock %}

{% block header_two %} TriniOnlineMall {% endblock %}
{% block banner %}
 {% if error %}
 {{ error }}
 {% endif %}
{% endblock %}

{% block banner_two %}
    Create Products
{% endblock %}

{% block form %}
<br/>
<form  class="container" method="POST"  action="{% url 'create' %}" enctype="multipart/form-data" >
{% csrf_token %}


        <h4 class="text-white text-left glyphicon-font"> title: </h4>
        <input   class="form-control form-control-lg"  type="text" name="title">

<br/>
<h4 class="text-white text-left glyphicon-font"> Your facebook Link </h4>
    <textarea   class="form-control form-control-lg"   name="link" rows="5" cols="10" ></textarea>
<br/>
<h4 class="text-white text-left glyphicon-font">Product Description:  </h4>
    <textarea   class="form-control form-control-lg"   name="description"  rows="5" cols="10"> </textarea>
<br/>
<h4 class="text-white text-left glyphicon-font"> icon </h4>
<input  class="form-control form-control-lg "  type="file" name="icon">
<br/>
<h4 class="text-white text-left glyphicon-font"> image </h4>
<input  class="form-control form-control-lg "  type="file" name="image">
<br/>
<br/>
<button type="submit" class="btn  btn-lg btn-block">Add Product</button>
</div>
</form>

{% endblock %}







{% block content %}


{% endblock %}