{% extends "trinionlinemall/base.html" %}
{% load staticfiles %}
{% block banner %}
 All Products
{% endblock %}



{% block content %}


    	<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">


    <div class="col-12">

                <!-- Features -->
                    <section class="box features page-content">
                        <h2 class="major"><span>All Products</span></h2>
                        <div>
                            <div class="row">
                                {% for product in products %}
                                <div class="col-3 col-6-medium col-12-small">

                                    <!-- Feature -->
                                        <section class="box feature">
                                            <a href="{% url 'product_detail' product.id %}" class="image featured"><img src="{{ product.image.url }}" alt="product image" /></a>
                                            <h3><a href="{% url 'product_detail' product.id %}">{{product.title }}</a></h3>
                                            <p><a href="{% url 'product_detail' product.id %}">User: {{product.user_hunter.username }}</a></p>
                                            <p>
                                               {{ product.summary }}
                                            </p>
                                            	<ul class="meta">
                                                    <li class="icon fa-clock-o">{{ product.publication_date }}</li>
                                                    <!--<li class="icon fa-comments"><a href="#">34</a></li>-->
                                                    <li class="icon fa-circle-o-notch"><a href="#">{{product.votes  }}</a></li>
                                                    <li class="icon fa-money " style="color: green" ><a style="color: #3caf42" href="{% url 'product_detail' product.id %}"> ${{product.price  }}</a></li>
                                                </ul>

                                        </section>

                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </section>

            </div>
        </div>
    </div>
</section>

















{% endblock %}

