<!DOCTYPE html>
{%  load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--this is like is for responsive desgins -->
    <meta name="viewport" content="width=device-width">
    <meta name="Discription" content="Affordable personalized software to meet your company or personal needs">
    <meta name="keywords" content="software, web design, backend, business, Ispire, ispre">
    <meta name="viewport" content="width=device-width">
    <meta name="Arthur" content="Ispire  Enterprises">
    <title>Ispire Enterprise | ABout </title>
    <link rel="stylesheet" href="{% static 'jobs/css/ispirestyle.css'%}">
</head>
<body>
<!-- Header section -->
<header>
    <div class="container">
        <div id="sitebrand">
            <h1> <span class="highlight">Ispire </span> Software Solutions </h1>
            <div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="software.html">Software</a></li>
                        <li><a href="designs.html">Designs</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li class="current" ><a href="about.html">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

    <!-- Newsletter section -->
</section>
<section id="newsletter">
    <div class="container">
        <h1>Newsletter</h1>
        <form>
            <input type="email" placeholder="eg: myemailname@.....com">
            <button type="submit" class="submitbutton"> subscribe </button>
        </form>
    </div>
</section>
<!-- icon Boxes section -->
<section id="main">
    <div class="container">
        <article id="main_col" >
            <h1 class="page-titile">About Us</h1>
            <h3> Past </h3>
            <img src="{% static 'jobs/img/past-img.png' %}">
            <p id="aboutP1"> We started out as a small app development team in July 2010 with 5 simple goals:</p>
            <ol>
                <li>> Provide high quality services </li>
                <li>> Build great relationships </li>
                <li>> Go the extra mile </li>
                <li>> Be professional, respectful & friendly</li>
                <li>> Learn every day</li>
            </ol>
            <h3>Present</h3>
            <img src="{% static 'jobs/img/present-img.png' %}">
            <p id="aboutP2" >
                Over 7 years later, we stand more convinced than ever
                in these core values. They have led us to over 200
                successful projects with over 100 different clients,
                nearly all of whom have either returned for a second
                project, or recommend us to someone else. This is the
                achievement we are most proud of.
            </p>
            <h3>Future</h3>
            <img src="{% static 'jobs/img/future-img.png' %}">
            <p id="aboutP3"> As we look to the future, we are more
                excited than ever before as amazing new 
                technologies continue to gain adoption. 
                Technologies such as Bots, Artificial Intelligence, 
                Big Data and Virtual Reality to name just a few, have 
                changed the landscape. They have made it possible to do 
                things that were previously out of reach. Organizations 
                that embrace the role of being forward thinkers and visionaries 
                are finding great competitive advantage by being amongst the early 
                adopters. We are excited to continue working alongside such people 
                to analyze, conceptualize, design, develop & deploy solutions
                that help add value to their business goals.
            </p>


        </article>
        <aside id="sidebar">
            <div class="draktheme">
            <h3> What we Do </h3>
            <p> Provide high quality services </p>
            </div>

        </aside>

    </div>

</section>
<footer> <p> CopyRight &copy;  Ispirett Enterprises {% now 'Y' %}</p>
</footer>


<script src="js/main.js"></script>
</body>
</html>