<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ispire Enterprises</title>
    <link rel="stylesheet" href="{% static 'jobs/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'jobs/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'jobs/css/custom.css' %}">
</head>
<body>
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <img src="{% static '/jobs/heating-icon.png' %}" id="logo">
            </div>
            <!-- <div class="two columns u-pull-right">
                <ul>
                    <li class="submenu">
                            <img src= "" id="img-cart">
                            <div id="shopping-cart">
                                    <table id="cart-content" class="u-full-width">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="" width="120">
                                                </td>
                                                <td>HTML5, CSS3, JavaScript for beginners</td>
                                                <td>$15</td>
                                                <td>
                                                    <a href="#" class="remove">X</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                 <td>
                                                     <img src="" width="120">
                                                 </td>
                                                 <td>Cooking Course</td>
                                                 <td>$15</td>
                                                 <td>
                                                     <a href="#" class="remove">X</a>
                                                 </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <a href="#" id="clear-cart" class="button u-full-width">Clear Cart</a>
                            </div>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    </header>


    <div id="hero">
        <div class="container">
            <div class="row">
                    <div class="six columns">
                        <div class="hero-content">
                                <h2 id="learn">Welcome to Ispire Enterprise</h2>
                                <p class="tagline"> Have a new Idea that needs Software we are hear for you the whole Step of the Day.</p>
                                <form action="#" id="search" method="post" class="form">
                                    <input class="u-full-width" type="text" placeholder="What Do You Want To Learn? " id="search-course">
                                    <input type="submit" id="submit-search-course" class="submit-search-course">
                                </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="main-bar">
        <div class="container">
            <div class="row">
                    <div class="four columns icon icon1">
                        <p>CUSTOMISED SOFTWARE<br>
                        Tailored solutions as opposed to using shelf products. Such customised systems can…</p>
                    </div>
                    <div class="four columns icon icon2">
                        <p>APP DEVELOPMENT<br>
                        Includes ios and android development</p>
                    </div>
                    <div class="four columns icon icon3">
                        <p>Website Development <br>
                        Customized websites and web apps to suite you company or personal needs</p>
                    </div>
            </div>
        </div>

    </div>

    <div id="courses-list" class="container">
        <h1 id="heading" class="heading">Some of our work</h1>
        <div class="row">
            {% for job in my_jobs.all %}
            <div class="four columns">
                <div class="card">
                    <img src="{{ job.image.url}}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>{{ job.title }}</h4>
                        <p>{{ job.summary}}</p>
                        <p class="price">  <span class="u-pull-right "></span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart" data-id="1">Add to Cart</a>
                    </div>
                </div> <!--.card-->
            </div>
            {% endfor %}
        </div> <!--.row-->


        <div class="row">
        </div> <!--.row-->
        <div class="row">
        </div> <!--.row-->

    </div>

    <footer id="footer" class="footer">
        <div class="container">
            <!--<div class="row">
                    <div class="four columns">
                            <nav id="primary" class="menu">
                                <a class="link" href="#">For Business</a>
                                <a class="link" href="#">Become an Instructor</a>
                                <a class="link" href="#">Mobile Applications</a>
                                <a class="link" href="#">Support</a>
                                <a class="link" href="#">Help</a>
                            </nav>
                    </div>
                    <div class="four columns">
                            <nav id="secondary" class="menu">
                                <a class="link" href="#">About Us</a>
                                <a class="link" href="#">Work with us</a>
                                <a class="link" href="#">Blog</a>
                            </nav>
                    </div>
            </div>-->
            <p style="color: #0FA0CE"> CopyRight &copy;  Ispirett Enterprises {% now 'Y' %}</p>
        </div>
    </footer>

    <script src="js/app.js"></script>

</body>
</html>
